//Breakpoints Bootstrap Min Width

$min-sm: 576px;
$min-md: 768px;
$min-lg: 992px;
$min-xl: 1200px;
$min-xxl: 1400px;

//Breakpoints Bootstrap Max Width (documentation bootstrap official)

$max-sm: 575.98px;
$max-md: 767.98px;
$max-lg: 991.98px;
$max-xl: 1199.98px;
$max-xxl: 1399.98px;


//Colors

$tangerine: #FFAF6D;
$orange: #FFA500;
$charcoal: #2E1503;
$sable: #060606;
$black: #000000;
$white: #FFFFFF;
$gray: #4b4b4b;


//Special Colors

$degradation: rgba(0, 0, 0, 0.6);

//Font Family
$ubuntu: 'Ubuntu', sans-serif;
$poppins: 'Poppins', sans-serif;

//Font Sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px; 
$x-small: 12px;



//Font style
$stylefont: italic;

//Font weigh
$regular: 400;
$bold: 700;
$superfont: 900;
