/* Footer */
.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0.5em;
}
.footer__text {
  color: white;
  text-align: center;
  
}
.footer__links {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer__links .link {
  color: white;
  text-decoration: none;
  margin-bottom: 1em;
}
.footer__form {
  display: flex;

}
@media (min-width: 600px) {
  
.footer {
  width: 100%;
  padding: 1rem 2rem;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {

margin-right: auto;
}
.footer__links {
  
  margin-left: auto;
  flex-direction: row;

  
}

.footer__links .link {
  margin-bottom: 0;
  margin-right: 1em;
}
}