// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.hero {
    display: flex;
    justify-content: center;

    &__img {
        width: 40%;
      }

  }
  
  