// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.hero {
    display: flex;
    justify-content: center;

    &__img {
        width: 40%;
      }

  }

  
.fondo {
    background-color: black;
}

.nav-bar .ml-auto ,a { 
font-family:$poppins; 
font-size: $x-small;
margin-top: 5px;

}
  .boton {
      font-size: 10px;
  }

  
  
  .bg-information {
      background-color: black;
  }

  
  